# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editor
.vscode/
.idea/

# Logs / Temp
*.log
.tmp/
.cache/

# Falls später Build-Tools dazukommen
node_modules/
dist/
build/

# WICHTIG bei GitHub Pages + Domain
!CNAME
